<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.wang.dao.FeePurcDrugSttTabMapper">

    <resultMap id="BaseResultMap" type="com.wang.common.pojo.FeePurcDrugSttTab">
            <id property="rid" column="RID" jdbcType="VARCHAR"/>
            <result property="admdvs" column="ADMDVS" jdbcType="VARCHAR"/>
            <result property="admdvsName" column="ADMDVS_NAME" jdbcType="VARCHAR"/>
            <result property="drugGenname" column="DRUG_GENNAME" jdbcType="VARCHAR"/>
            <result property="entpName" column="ENTP_NAME" jdbcType="VARCHAR"/>
            <result property="spec" column="SPEC" jdbcType="VARCHAR"/>
            <result property="pac" column="PAC" jdbcType="VARCHAR"/>
            <result property="drugCode" column="DRUG_CODE" jdbcType="VARCHAR"/>
            <result property="attr" column="ATTR" jdbcType="VARCHAR"/>
            <result property="srt" column="SRT" jdbcType="VARCHAR"/>
            <result property="otpFee" column="OTP_FEE" jdbcType="DECIMAL"/>
            <result property="inpf" column="INPF" jdbcType="DECIMAL"/>
            <result property="phacFee" column="PHAC_FEE" jdbcType="DECIMAL"/>
            <result property="crteTime" column="CRTE_TIME" jdbcType="TIMESTAMP"/>
            <result property="modiTime" column="MODI_TIME" jdbcType="TIMESTAMP"/>
            <result property="setlTime" column="SETL_TIME" jdbcType="VARCHAR"/>
    </resultMap>

    <sql id="Base_Column_List">
        RID,ADMDVS,ADMDVS_NAME,
        DRUG_GENNAME,ENTP_NAME,SPEC,
        PAC,DRUG_CODE,ATTR,
        SRT,OTP_FEE,INPF,
        PHAC_FEE,CRTE_TIME,MODI_TIME,
        SETL_TIME
    </sql>
</mapper>
